# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though

git config --global alias.undo '!f() { \
    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \
}; f'

#catkin_make_target
catkin_make_target(){
  catkin_make 
    -DCMAKE_C_COMPILER="arm-poky-linux-gnueabi-gcc  -march=armv7-a -marm  -mthumb-interwork -mfloat-abi=hard -mfpu=neon-vfpv4 -mtune=cortex-a7 --sysroot=$SDKTARGETSYSROOT" \
    -DCMAKE_CXX_COMPILER="arm-poky-linux-gnueabi-g++  -march=armv7-a -marm  -mthumb-interwork -mfloat-abi=hard -mfpu=neon-vfpv4 -mtune=cortex-a7 --sysroot=$SDKTARGETSYSROOT" \
    -DCMAKE_LINKER="arm-poky-linux-gnueabi-ld  --sysroot=$SDKTARGETSYSROOT" \
    -DCMAKE_C_FLAGS=" -O2 -pipe -g -feliminate-unused-debug-types" \
    -DCMAKE_CXX_FLAGS="-O2 -pipe -g -feliminate-unused-debug-types" \
    -DCMAKE_EXE_LINKER_FLAGS="-Wl,-O1 -Wl,--hash-style=gnu -Wl,--as-needed"
}
